.frame {
  color: @frame-color;
  text-align: center;
  position: fixed;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 3;
  display: none;

  /* Transparency stuff */
  @rgba: rgba(red(@frame-bg-color),green(@frame-bg-color),blue(@frame-bg-color),@frame-opacity);
  @argb: argb(@rgba);
  background-color: @rgba;
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb}, endColorstr=@{argb})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb}, endColorstr=@{argb})";
}

.frame-left {
  top: 0;
  left: 0;
  width: @frame-thickness;
  height: 100%;

  .rotate-text(-90deg);
}

.frame-right {
  top: 0;
  right: 0;
  width: @frame-thickness;
  height: 100%;

  .rotate-text(90deg);
}

.frame-top {
  top: 0;
  width: 100%;
  height: @frame-thickness;
}