video#background {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url('/assets/video/background.jpg') no-repeat;
  background-size: cover;
}

body {
  color: white;
  background-size:cover;

  h1 {
    font-family: @headings-large-font-family;
  }

  #main {
    margin-top: @frame-thickness;
  }

  #our-story {
    .cover {
      background-image: url('/assets/img/slide1.jpg');
    }
  }
  #designers {
    .cover {
      background-image: url('/assets/img/designers/designers_drawing.png');
    }
  }
}

.cover {
  width: 100%; height: 350px;
  border: 2px solid @color-1;
  outline: 2px solid @color-2;
  background-size: cover;
}

#splash {
  margin: 10px;
}

.vertical-center {
  display:table-cell;
  vertical-align:middle;
  float:none;
}
