.content-row-1
{
  .content-row(@color-1);
  .font-color(@color-1);
  a { .link-color(@color-1); }
  a:hover { .link-hover-color(@color-1); }
}

.content-row-2
{
  .content-row(@color-2);
  .font-color(@color-2);
  a { .link-color(@color-2); }
  a:hover { .link-hover-color(@color-2); }
}

.content-row-3
{
  .content-row(@color-3);
  .font-color(@color-3);
  a { .link-color(@color-3); }
  a:hover { .link-hover-color(@color-3); }
}
