.color-row-1
{
  .color-row(@color-1);
  .font-color(@color-1);
  a { .link-color(@color-1); }
  a:hover { .link-hover-color(@color-1); }
}

.color-row-2
{
  .color-row(@color-2);
  .font-color(@color-2);
  a { .link-color(@color-2); }
  a:hover { .link-hover-color(@color-2); }
}

.color-row-3
{
  .color-row(@color-3);
  .font-color(@color-3);
  a { .link-color(@color-3); }
  a:hover { .link-hover-color(@color-3); }
}

.color-row-white
{
  .color-row(white);
  .font-color(white);
  a { .link-color(white); }
  a:hover { .link-hover-color(white); }
}

.row
{
  margin-top: 50px;
}


.content-row
{
  padding-left: 100px;
  padding-right: 100px;

}
