@font-family-base: "chaparral-pro",sans-serif;
@headings-large-font-family:"proxima-nova", sans-serif;
@headings-font-family: "proxima-nova",sans-serif;

body {
  p,div {
    font-weight: 300;
  }
  h1 {
    font-weight: @font-weight-h1;
  }
}

@font-size-h1: 100px;
@font-weight-h1: 700;
@headings-font-weight: 100;
@font-size-base: 20px;

/* Frame  */
@frame-color: black;
@frame-bg-color: white;
@frame-thickness: 100px;
@frame-opacity: 1;
@frame-shadow-thickness: 0px;
@frame-shadow-opacity: 0.2;

/* ECFS colors */
@color-1: white;
@color-2: #85cec1;
@color-3: #4b5159;

@gray-efcs: #525252;

@content-transparency: 0.5;
